.depa{
    margin: 10px;
    padding: 3px;
    font-size: large;
    font-style: round($number: 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;


}

.duration{
    padding-left: 15px;
    padding-right: 15px;

}

.arr{
    margin-left: 10px;
    padding: 3px;
    font-size: large;
    font-style: round($number: 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;


}


.sub{
    font-size: small;
    color: gray;
}
    
.example-spacer {
    flex: 1 1 auto;
  }